<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="cirs-rest-dto" annotations="JDK">
    <test name="cirs-rest-dto-unit-tests" verbose="10" annotations="JDK">
        <packages>
            <package name="com.xm.services.investment.crypto.rs.rest.dto.*"/>
        </packages>
    </test>
</suite>
