<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="cirs-rest-api" annotations="JDK">
    <test name="cirs-rest-api-unit-tests" verbose="10" annotations="JDK">
        <packages>
            <package name="com.xm.services.investment.crypto.rs.rest.api.resource.*"/>
        </packages>
    </test>
</suite>
